#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  border: 1px solid black;
}
div {
  border: 1px solid black;
}
list_group{
  background-color: green
}